<div class="login-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 login-container">
        <h1 class="text-center text-gray">ログイン</h1>
          <%= form_for :session, url: login_path do |f| %>
            <div class="form-group">
              <%= f.label :メールアドレス, class: 'text-gray' %>
              <%= f.text_field :email, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :パスワード, class: 'text-gray' %>
              <%= f.password_field :password, class: "form-control" %>
            </div>
              <%= f.submit "送信", class: "btn-block btn-gray" %>
          <% end %>
        <%= link_to '新規登録はこちら', new_user_path %>
      </div>
    </div>
  </div>
</div>