<h3>(users_show)</h3>
<h1><%= @user.name %>さんのページ</h1>
<p>User ID:<%= @user.id %></p>

<h2>【人生設計】</h2>
<h2>結婚について</h2>
<p><%= @plan.marriage %></p>
<h2>子供は何人欲しいか</h2>
<p><%= @plan.sons %>人</p>
<%= link_to '編集する', edit_plan_path(@plan.id) %>

<h2>【費用について】</h2>
<h2>養育費</h2>
<p><%= @cost.edu_cost %>万円</p>
<h2>老後の費用</h2>
<p><%= @cost.old_cost %>万円</p>
<h2>その他の費用</h2>
<p><%= @cost.others %>万円</p>
<h2>目標資産額</h2>
<p><%= @cost.target %>万円</p>

<%= link_to '編集する', edit_cost_path(@cost.id) %>

<h2>【シミュレーション】</h2>
<h2>１年ごとの必要貯蓄額</h2>
<%= @per_year %>万円
<h2>１ヶ月ごとの必要貯蓄額</h2>
<%= @per_month %>万円