<div class="user-show-wrapper">
  <div class="container">
    <h1 class="text-center text-gray"><%= @user.name %>さんのページ</h1>
    
    <div class="row">
      <div class="col-md-4 user-show-container left">
        <h3 class="text-center text-gray">【人生設計】</h2>
        <h4 class="text-gray">結婚について</h2>
        <p><%= @plan.marriage %></p>
        <h4 class="text-gray">子供は何人欲しいか</h2>
        <p><%= @plan.sons %>人</p>
        <%= link_to '編集する', edit_plan_path(@plan.id) %>
      </div>
      <div class="col-md-7 col-md-offset-1 user-show-container right">
        <h3 class="text-center text-gray">【費用について】</h2>
        <h4 class="text-gray">養育費</h2>
        <p><%= @cost.edu_cost %>万円</p>
        <h4 class="text-gray">老後の費用</h2>
        <p><%= @cost.old_cost %>万円</p>
        <h4 class="text-gray">その他の費用</h2>
        <p><%= @cost.others %>万円</p>
        <h4 class="text-gray">目標資産額</h2>
        <p><%= @cost.target %>万円</p>
        <%= link_to '編集する', edit_cost_path(@cost.id) %>
      </div>
      
      <h3 class="text-center text-gray">【シミュレーション】</h2>
      <h4 class="text-gray">１年ごとの必要貯蓄額</h2>
      <%= @per_year %>万円
      <h4 class="text-gray">１ヶ月ごとの必要貯蓄額</h2>
      <%= @per_month %>万円
    </div>
  </div>
</div>