<div class="user-show-wrapper">
  <div class="container">
    <h1 class="text-center text-gray"><%= @user.name %>さんのページ</h1>
    
    <div class="row">
      <div class="col-md-4 user-show-container left">
        <h3 class="text-center text-gray"><%= link_to '人生設計', edit_plan_path(@plan.id) %></h2>
          <div class="single-info">
            <div class="info-image">
              <%= image_tag 'icons/marriage.png', class: 'single-info-icon' %>
            </div>
            <div class="right-info">
              <h4 class="text-gray">結婚について</h2>
              <p class="text-gray"><%= @plan.marriage %></p>
            </div>
          </div>
          <div class="single-info">
            <div class="info-image">
              <%= image_tag 'icons/sons.png', class: 'single-info-icon' %>
            </div>
            <div class="right-info">
              <h4 class="text-gray">子供は何人欲しいか</h2>
              <p class="text-gray"><%= @plan.sons %>人</p>
            </div>
          </div>
        
      </div>
      <div class="col-md-7 col-md-offset-1 user-show-container right">
        <h3 class="text-center text-gray"><%= link_to '費用', edit_plan_path(@plan.id) %></h2>
        <div class="single-cost-left">
          <div class="single-cost">
            <%= image_tag 'icons/edu.png', class: 'single-info-icon' %>
            <div class="right-cost">
              <h4 class="text-gray">養育費</h2>
              <p><%= @cost.edu_cost %>万円</p>
            </div>
          </div>
          <div class="single-cost">
            <%= image_tag 'icons/old.png', class: 'single-info-icon' %>
            <div class="right-cost">
              <h4 class="text-gray">老後の費用</h2>
              <p><%= @cost.old_cost %>万円</p>
            </div>
          </div>
        </div>
        <div class="single-cost-right">
          <div class="single-cost">
            <%= image_tag 'icons/others.png', class: 'single-info-icon' %>
            <div class="right-cost">
              <h4 class="text-gray">その他の費用</h2>
              <p><%= @cost.others %>万円</p>
            </div>
          </div>
          <div class="single-cost">
            <%= image_tag 'icons/target.png', class: 'single-info-icon' %>
            <div class="right-cost">
              <h4 class="text-gray">目標資産額</h2>
              <p><%= @cost.target %>万円</p>
            </div>
          </div>
        </div>
      </div>
      
      <h3 class="text-center text-gray">【シミュレーション】</h2>
      <h4 class="text-gray">１年ごとの必要貯蓄額</h2>
      <%= @per_year %>万円
      <h4 class="text-gray">１ヶ月ごとの必要貯蓄額</h2>
      <%= @per_month %>万円
    </div>
  </div>
</div>