<div class="index-wrapper">
  <div class="user-show-top">
    <%= image_tag 'user-show-top.jpeg', class: "bg-img" %>
    <h1>
      ようこそ Tech Simulation へ
    </h1>
    <p class="des1">Tech Simulationは資産形成をサポートする20代向けのシミュレーションサービスです。</p>
    <p class="des2">計画的な資産形成に向け、案内に従ってシミュレーションしていきましょう。</p>
  </div>
  <div class="space"></div>
  <div class="container">
   <div class="background-shadow-1">
     <div class="row">
       <div class="col-md-7 right-des">
         <h3>1.人生設計について考える</h3>
         <p>あなたが思い描く人生について教えてください。</p>
         <p>どんな人生を送りたいかによって、想定すべきライフイベントは異なります。</p>  
         <p>なんとなくでも大丈夫です。理想の人生設計について考えてみましょう</p>
       </div>
       <div class="col-md-5">
         <%= image_tag 'marriage.jpg' %>
       </div>
     </div>
   </div>
   
   <div class="background-shadow-2">
     <div class="row">
       <div class="col-md-5">
         <%= image_tag 'costs.jpg' %>
       </div>
       <div class="col-md-7 left-des">
         <h3>2.ライフイベントについて考える</h3>
         <p>これから様々なライフイベントがあなたを待っています。</p>
         <p>結婚、出産、老後、介護・・・</p>
         <p>これらにかかる費用について相場を参考にしながら考えていきましょう</p>
       </div>
     </div>
   </div> 
    
   <div class="background-shadow-1">
     <div class="row">
       <div class="col-md-7 right-des">
         <h3>3.資産形成の目標をたてる</h3>
         <p>あなたのライフプランに沿って、資産形成をシミュレーションします。</p>
         <p>シミュレーション結果を確認し、目標を立てていきましょう。</p>
       </div>
       <div class="col-md-5">
         <%= image_tag 'target.jpg' %>
       </div>
     </div>
   </div>
   <div class="bottun-row">
    <div class="row">
      <div class="col-md-offset-2 col-md-4">
        <%= link_to 'マイページ', user_path(session[:user_id]), class: 'btn-block btn-about' %>
      </div>
      <div class="col-md-4">
        <%= link_to 'ログアウト', logout_path, class: 'btn-block btn-about', method: :delete %>
      </div>
    </div>
  </div>
</div>
