<div class="plan-wrapper">
  <div class="plan-title">
    <div class="left-contents">
      <h1>人生設計について考える</h1>
      <p>あなたが思い描く人生について教えてください。</p>
      <p>どんな人生を送りたいかによって、想定すべきライフイベントは異なります。</p>  
      <p>なんとなくでも大丈夫です。理想の人生設計について考えてみましょう。</p>
    </div>
    <div class="right-contents">
      <%= image_tag 'marriage.jpg' %>
    </div>
  </div>
  
  <div class="container">
    <%= form_for @plan do |f| %>
      <div class="row">
        <div class="single-plan-editter marriage">
          <div class="col-md-offset-1 col-md-4 left-contents">
            <h3>結婚について</h3>
            <%= image_tag 'icons/marriage.png' %>
          </div>
          <div class="col-md-6 right-contents">
            <div class="bubble">
              <div class="form-group">
                <h5><%= f.label :結婚はしたいですか？, class: 'text-gray' %></h5>
                  <ul class="check-list">
                    <li class="check-item">
                      <%= f.radio_button :marriage, "する" %>する
                    </li>
                    <li class="check-item">
                      <%= f.radio_button :marriage, "しない" %>しない
                    </li>
                    <li class="check-item">
                      <%= f.radio_button :marriage, "した" %>既婚
                    </li>
                    <li class="check-item">
                      <%= f.radio_button :marriage, "未定" %>わからない
                    </li>
                  </ul>
              </div>
              <div class="form-group">
                <h5><%= f.label :何歳で結婚したいですか？, class: 'text-gray' %></h5>
                <div class="form-select">
                  <%= f.select :when_marriage,[["20~24歳", 1], ["25~29歳", 2], ["30~34歳", 3], ["35~39歳", 4], ["40~44歳", 5], ["45~49歳", 6], ["50~54歳", 7], ["55~59歳", 8],["60~64歳", 9], ["65歳~", 10], ["結婚しない", 0]] %>
                </div>
              </div>
              <div class="form-group">
                <h5><%= f.label :結婚式はしますか？, class: 'text-gray' %></h5>
                <ul class="check-list">
                  <li class="check-item">
                    <%= f.radio_button :wedding, "する" %>する
                  </li>
                  <li class="check-item">
                    <%= f.radio_button :wedding, "しない" %>しない
                  </li>
                  <li class="check-item">
                    <%= f.radio_button :wedding, "未定" %>わからない
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="single-plan-editter sons">
          <div class="col-md-offset-1 col-md-4 left-contents">
            <h3>こどもについて</h3>
            <%= image_tag 'icons/sons.png' %>
          </div>
          <div class="col-md-6 right-contents">
            <div class="bubble">
              <div class="form-group">
                <h5><%= f.label :子どもは何人ほしいですか？, class: 'text-gray' %></h5>
                <div class="form-select">
                  <%= f.select :sons, [["1人", 1], ["2人", 2], ["3人", 3], ["4人", 4], ["5人", 5], ["6人", 6], ["つくらない", 0], ["わからない", 7] ] %>
                </div>
              </div>
              <div class="form-group">
                <h5><%= f.label :第一子はいつ欲しいですか？, class: 'text-gray' %></h5>
                <div class="form-select">
                  <%= f.select :first_son, [["20~24歳", 1], ["25~29歳", 2], ["30~34歳", 3], ["35~39歳", 4], ["40~44歳", 5], ["45~49歳", 6], ["50~54歳", 7], ["55~59歳", 8],["60~64歳", 9], ["65歳~", 10], ["つくらない", 0] ] %>
                </div>
              </div>
              <div class="form-group">
                <h5><%= f.label :末子はいつ欲しいですか？, class: 'text-gray' %></h5>
                <div class="form-select">
                  <%= f.select :last_son, [["20~24歳", 1], ["25~29歳", 2], ["30~34歳", 3], ["35~39歳", 4], ["40~44歳", 5], ["45~49歳", 6], ["50~54歳", 7], ["55~59歳", 8],["60~64歳", 9], ["65歳~", 10], ["つくらない", 0] ] %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><div class="row">
        <div class="single-plan-editter myhome">
          <div class="col-md-offset-1 col-md-4 left-contents">
            <h3>住まいについて</h3>
            <%= image_tag 'icons/house.png' %>
          </div>
          <div class="col-md-6 right-contents">
            <div class="bubble">
              <div class="form-group">
                <h5><%= f.label :住宅の購入予定はありますか？, class: 'text-gray' %></h5>
                <ul class="check-list">
                  <li class="check-item">
                    <%= f.radio_button :myhome, "買う" %>ある
                  </li>
                  <li class="check-item">
                    <%= f.radio_button :myhome, "買わない" %>ない
                  </li>
                  <li class="check-item">
                    <%= f.radio_button :myhome, "0" %>わからない
                  </li>
                </ul>
              </div>
              <div class="form-group">
                <h5><%= f.label :いつ購入しますか？, class: 'text-gray' %></h5>
                <div class="form-select">
                  <%= f.select :when_myhome, [["20~24歳", 1], ["25~29歳", 2], ["30~34歳", 3], ["35~39歳", 4], ["40~44歳", 5], ["45~49歳", 6], ["50~54歳", 7], ["55~59歳", 8],["60~64歳", 9], ["65歳~", 10], ["買わない", 0]] %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="single-plan-editter others">
          <div class="col-md-offset-1 col-md-4 left-contents">
            <h3>その他・お金について</h3>
            <%= image_tag 'icons/others.png' %>
          </div>
          <div class="col-md-6 right-contents">
            <div class="bubble">
              <div class="form-group">
                <h5><%= f.label :あなたは何年生まれですか？, class: 'text-gray' %></h5>
                <div class="form-select">
                  <%= f.select :birth,[1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000] %>
                </div>
              </div>
              <div class="form_group">
                <h5><%= f.label :いま貯金はどのくらいありますか？, class: 'text-gray' %></h5>
                <%= f.number_field :saving, class: 'form-plan saving' %>万円
              </div>
              <div class="form_group">
                <h5><%= f.label :勤務先の退職金はどのくらいですか？, class: 'text-gray' %></h5>
                <%= f.number_field :severance, class: 'form-plan severance' %>万円
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-4 text-center" >
          <%= link_to 'Cancel', user_path(@plan.user_id), class: "btn-block btn-gray"%>
        </div>
        <div class="col-md-4">
          <%= f.submit "Simulate", class: "btn-block btn-gray" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
