<h3>(plans_edit)</h3>
<h1>人生設計の編集</h1>

<%= form_for @plan do |f| %>
  <%= f.label :結婚について %>
  <%= f.text_field :marriage %>
  <%= f.label :子供の人数 %>
  <%= f.text_field :sons %>
  <%= f.submit "編集" %>
<% end %>