<!DOCTYPE html>
<html>
  <head>
    <title>TechSimulation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- フラッシュの表示 -->
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <% if logged_in? %>
          <%= link_to user_path(:id) do %>
            <span><%= image_tag "icons/logo.png", class: "navbar-brand" %></span>
          <% end %>
        <% else %>
          <%= link_to root_path do %>
            <span><%= image_tag "icons/logo.png", class: "navbar-brand" %></span>
          <% end %>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
              <%= link_to edit_user_path(:id) do %>
                <%= image_tag "icons/mypage.png" %>
              <% end %>
            </li>
            <li>
              <%= link_to logout_path, method: :delete do %>
                <%= image_tag "icons/logout.png" %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to login_path do %>
                <%= image_tag "icons/login.png" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <%= yield %>
    
    <!-- フラッシュの自動消滅-->
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
    <footer>
      <p>©︎ All rights reserved by R.Horikiri</p>
    </footer>
  </body>
</html>
